*{
    margin: 0;
    padding: 0;
    font-family: 'comforta';
}
.gen{
    width: 90%;
    position: absolute;
    top: 45px;
    
}
.genm{
    display: flex;
    justify-content: center;
    position: relative;
}
.contenedor1{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: end;
    position: relative;
    background-image: url(../multimedia/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.Avatar{
    border: 3px;
    border-radius: 50%;
    object-fit: cover;
    width: 20%;
    position: absolute;
    top: 30%;
}
.edu{
    display: flex;
    justify-content: space-between;
}
.exp{
    display: flex;
    justify-content: space-between;
}
.fin{
    display: flex;
    justify-content: space-between;
    position: relative;
    top:40px
}
.doscositos{
    background-color: #7aaab6ab;
    width: 47%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    justify-content: space-around;
}
.cuadritos{
    background-color: #7aaab6ab;
    width: 20%;
    height: 8rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuadritodiferente{
    background-color: #77c6daab;
    width: 20%;
    height: 8rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: 'comforta';
    src: url(../multimedia/comforta.ttf);
}
.nombrecillo{
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    right: 70%;
    bottom: 30px;
}
.info{
    color: #ffffff;
    position: absolute;
    bottom: 30px;
    left: 70%;
}
h4{
    font-size: 20px;
    color: #094b53;
    padding-top: 30px;
    padding-left: 0;
    padding-bottom: 15px;
}
h5{
    font-size: 18px;
    color: #094b53;
}
.descarga{
    width: 200px;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    left: 72%;
    top: -62px;
    background-color: #094b53;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}
#fechita{
    width: 40%;
}
#extra{
    width: 50%;
}
.infocuadritos{
    width: 80%;
    height: 80%;
}
#simbolo{
    width: 7%;
}
.fin{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
#cositosfin1{
    background-color: #7aaab6ab;
    width: 60%;
    height: 6rem;
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    position: relative;
}
#cositosfin2{
    background-color: #7aaab6ab;
    width: 35%;
    height: 6rem;
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}
#x{
    width: 25%;
    height: 70%;
    position: absolute;
    left: 0;
    top: 20%;
}
#linke{
    width: 15%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 20%;
}
#yox{
    position: absolute;
    top: 45%;
    left: 20%;
}
#name{
    position: absolute;
    top: 45%;
    right: 10%;
}
.estadisticas{
    position: relative;
    top: 30%;
}
progress{
    appearance: none; /* Estilo base neutral */
  -webkit-appearance: none; /* Para Safari y Chrome */
  width: 100px;
  height: 10px;
  border-radius: 10px;
  background-color: #fffdfd;
  overflow: hidden;
  border: none;
}
progress::-webkit-progress-value {background-color: #094b53;
  border-radius: 10px;}
progress::-webkit-progress-bar{
    background-color: #ffffff;
  border-radius: 10px;
}

  